@using Nhs.Theograph.DemoWebUI.Models;
@model IList<PatientViewModel>
@{
  ViewBag.Title = "Patient List";
}
<h3>Patient List</h3>
@{ foreach (var patient in Model)
   {
  <div class="well">
    @Html.ActionLink(patient.Patient.GetFullName(), "index", "theograph", routeValues: new { nhsNumber = patient.NhsNumberValue }, htmlAttributes: new { })
    <div class="row-fluid">
      <span class="span4">NHS Number: @patient.NhsNumberValue</span>
    </div>
  </div>
   }
}
